<launch>
    <rosparam file="$(find raven_2)/params/r2params.yaml" command="load" />
    <group ns="/arm1">
    	<rosparam file="$(find raven_2)/params/raven_gold_crtk.yaml" command="load" />
    </group>
    <group ns="/arm2">
    	<rosparam file="$(find raven_2)/params/raven_green_crtk.yaml" command="load" />
    </group>
    <node name ="r2_control" pkg="raven_2" type="r2_control" output="screen"/>
</launch>
