---
BasedOnStyle:  Google
ColumnLimit:    100
ExperimentalAutoDetectBinPacking: false
Standard:        Auto
IndentWidth:	   4
UseTab:          Never
SpacesInParentheses: false
SpacesInAngles:  false
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpaceAfterControlStatementKeyword: true
SpaceBeforeAssignmentOperators: true
...
